body {
  background: #2b2733;
  margin: 0;
}

header {
  text-align: center;
  background-color: #46424d;
  padding-top: .5em;
  padding-bottom: .5em;
}

main {
  display: flex;
  width: 100%;
}

.main-title, p, label {
  font-family: Montserrat;
  font-weight: 400;
  color: #fff;
}

label {
  display: block;
}

.time-inputs-container {
  display: flex;
  justify-content: space-between;
  margin-top: -.7em;
}

.new-activity-title, .past-activities-title {
  font-family: Montserrat;
  font-weight: 300;
  color: #cbc9cf;
  padding-top: 5%;
}

.category-title {
  width: 100%;
}

.button-section {
  display: flex;
  position: relative;
  margin-top: 1em;
  justify-content: space-between;
}

.meditate-button, .exercise-button {
  color: white;
  border: 2px solid #fff;
  padding-left: 3.5em;
  padding-right: 3.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: .35em;
  background: #46424d;
}

.active-meditate-button {
  color: #C278FD;
  border: 2px solid #C278FD;
  padding-left: 3.5em;
  padding-right: 3.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: .35em;
  background: #46424d;
}

.meditate-active-img {
  color: #C278FD;
  height: 25px;
  width: 25px;
}

.active-exercise-button {
  color: #FD8078;
  border: 2px solid #FD8078;
  padding-left: 3.5em;
  padding-right: 3.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: .35em;
  background: #46424d;
}

.exercise-active-img {
  color: #FD8078;
  height: 25px;
  width: 25px;
}

.study-button {
  color: white;
  border: 2px solid #fff;
  padding-left: 4.2em;
  padding-right: 4.2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: .35em;
  background: #46424d;
}

.active-study-button {
  color: #B3FD78;
  border: 2px solid #B3FD78;
  padding-left: 4.2em;
  padding-right: 4.2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: .35em;
  background: #46424d;
}

.study-active-img {
  /* border: 2px solid #B3FD78; */
  color: #B3FD78;
  height: 25px;
  width: 25px;
}

/* Meditate: #C278FD
Exercise: #FD8078 */


.study-img {
  height: 25px;
  width: 25px;
}

.meditate-img {
  height: 25px;
  width: 25px;
}

.exercise-img {
  height: 25px;
  width: 25px;
}

.new-activity-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 70%;
  padding-left: 5%;
}

.past-activity-container {
  border-left: 2px solid #46424d;
  width: 30%;
  padding-left: 5%;
}

 .past-text {
  text-align: center;
  font-size: 15px;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  background: #46424d;
  border: 2px solid #46424d;
  border-radius: .35em;
  padding: 3em 4em;
}

form > section {
  margin: 4em 0em;
}

.accomplishment-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #cbc9cf;
  background: #46424d;
  margin-top: 1.5em;
}

.minutes-input {
  width: 110%;
  margin-right: 1.4em;
  border: none;
  border-bottom: 2px solid #cbc9cf;
  background: #46424d;
  margin-top: 1.2em;
}

.seconds-input {
  width: 100%;
  margin-right: 3em;
  border: none;
  border-bottom: 2px solid #cbc9cf;
  background: #46424d;
  margin-top: 1.2em;
}

.start-activity-button {
  display: block;
  margin-left: auto;
  color: #46424d;
  padding: .5em 1.5em;

}
