* {
  font-family: Montserrat;
}

body {
  background: #2b2733;
  margin: 0;
}

header {
  text-align: center;
  background-color: #46424d;
  padding-top: .5em;
  padding-bottom: .5em;
}

main {
  display: flex;
  width: 100%;
}

.main-title, p, label {
  font-weight: 400;
  color: #fff;
}

label {
  display: block;
}

.time-inputs-container {
  display: flex;
  justify-content: space-between;
  margin-top: -.7em;
}

.new-activity-title, .past-activities-title {
  font-weight: 300;
  color: #cbc9cf;
  padding-top: 5%;
}

.category-title {
  width: 100%;
}

.button-section {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 1em;
  justify-content: space-between;
}

.button::before {
  content: " ";
  background-size: 25px;
  margin: auto;
  display: block;
  height: 25px;
  width: 25px;
}

.meditate-button, .exercise-button {
  color: white;
  border: 2px solid #fff;
  padding-left: 3.5em;
  padding-right: 3.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: .35em;
  background: #46424d;
}

.study-button {
  color: white;
  border: 2px solid #fff;
  padding-left: 4.2em;
  padding-right: 4.2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: .35em;
  background: #46424d;
}

.study-button.active {
  color: #B3FD78;
  border-color: #B3FD78;
}

.meditate-button.active {
  color: #C278FD;
  border-color: #C278FD;
}

.exercise-button.active {
  color: #FD8078;
  border-color: #FD8078;
}

.button:active, .button:focus {
  outline: none;
}

.meditate-button::before {
  background-image: url("./assets/meditate.svg");
}

.meditate-button.active::before {
  background-image: url("./assets/meditate-active.svg");
}

.exercise-button::before {
  background-image: url("./assets/exercise.svg");
}

.exercise-button.active::before {
  background-image: url("./assets/exercise-active.svg");
}

.study-button::before {
  background-image: url("./assets/study.svg");
}

.study-button.active::before {
  background-image: url("./assets/study-active.svg");
}

.study-img, .meditate-img, .exercise-img {
  height: 25px;
  width: 25px;
}

.new-activity-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 70%;
  padding-left: 5%;
}

.past-activity-view {
  border-left: 2px solid #46424d;
  width: 30%;
  padding: 0 5%;
}

 .past-text {
  text-align: center;
  font-size: 15px;
}

form {
  display: flex;
  flex-direction: column;
  background: #46424d;
  border: 2px solid #46424d;
  border-radius: .35em;
  padding: 3em 4em;
}

form > section {
  margin: 4em 0em;
}

.description-input {
  color: #cbc9cf;
  width: 100%;
  border: none;
  border-bottom: 2px solid #cbc9cf;
  background: #46424d;
  margin-top: 1.5em;
}

.minutes-input {
  color: #cbc9cf;
  width: 100%;
  margin-right: 1.4em;
  border: none;
  border-bottom: 2px solid #cbc9cf;
  background: #46424d;
  margin-top: 1.2em;
}

.seconds-input {
  color: #cbc9cf;
  width: 90%;
  margin-right: 3em;
  border: none;
  border-bottom: 2px solid #cbc9cf;
  background: #46424d;
  margin-top: 1.2em;
}

.start-activity-button {
  display: block;
  margin-left: auto;
  color: #46424d;
  padding: .5em 1.5em;
  background-color: #cbc9cf;

}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.warning-message {
  color: #efb7ec;
  font-size: 12px;
}

.warning-img {
  margin-right: .2em;
  height: 14px;
  width: 14px;
}

.timer-view {
  display: block;
  text-align: center;
}

.timer-description-display {
  margin-top: 1.5em;
  font-weight: 400;
  font-size: 2em;
  color: #CBC9CF;
}

.countdown {
  color: #CBC9CF;
  font-size: 6em;
}

.timer-start-button {
  margin: 3em  auto;
  height: 20em;
  width: 20em;
  border-radius: 50%;
  outline: none;
}

.log-activity-button {
  display: block;
  margin: auto;
  color: #46424d;
  height: 3.5em;
  width: 15em;
  border: 2px solid #fff;
  background: white;
}

.activity-card {
  background: #46424d;
  display: flex;
  padding: 15px;
  margin: 1em 0;
}

.card-color {
  width: .25em;
  height: 3em;
  background-color: red;
}

.card-color[data-category="Study"] {
  background-color: #b3fd78;
}

.card-color[data-category="Meditate"] {
  background-color: #C278FD;
}

.card-color[data-category="Exercise"] {
  background-color: #FD8078;
}

.card-text {
  width: 95%;
}

.card-category {
  color: #fff;
}

.card-time, .card-description {
  color: #cbc9cf
}

.create-new-activity-button {
  display: flex;
  margin: 5em auto;
  display: block;
  margin-left: auto;
  color: #46424d;
  padding: .5em 1.5em;
  background-color: #cbc9cf;
}

.hidden {
  display: none;
}

@media (max-width: 650px) {

  main {
    display: flex;
    flex-direction: column;
    width: 100%
  }

  .new-activity-container {
    color: red;
    display: flex;
    align-self: flex-start;
    font-size: 1em;
  }

/* .activity-form { */
  form {
    width: 95%;
    padding-left: 1.5em;
  }

  .past-activity-view {
    border-top: 1px solid #CBC9CF;
    margin-top: 10em;
    width: 90%;
    padding-left: 1.5em;
  }

  .meditate-button, .exercise-button, .studyButton {
    margin-top: 1em;
}

@media (max-width: 475px) {

  .new-activity-container {
    color: red;
    display: flex;
    align-self: flex-start;
    font-size: 1em;
  }

  .past-activity-view {
    margin-top: 18em;
    width: 90%;
    padding-left: 1.5em;
  }

}
